* {
    background-color: #F3F3F3;
    user-select: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #FFFFFF;
    user-select: none;
}

header * {
    background-color: #FFFFFF;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

header .logo:hover {
    color: #4272DC;
    transition: color 0.2s ease-out;
}

header .logo:not(:hover) {
    color: #000000;
    transition: color 0.2s ease-out;
}


header nav a {
    margin: 16px;
    cursor: pointer;
}

header nav .selected {
    color: #4272DC;
}

header nav .remove {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav .remove input {
    width: 24px;
    height: 24px;
}


.main {
    /* margin-top: 16px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
}