.baseline {
    display: flex;
    flex-direction: column;
    width: 640px;
    background-color: white;
    border-radius: 16px;
    margin: 16px;
}

.baseline .name {
    margin-top: 16px;
}

.baseline * {
    background-color: white;
}

.baseline .value {
    font-weight: bold;
    font-size: 200%;
}

.baseline .green {
    color: #50B93E;
}

.baseline .red {
    color: #b93e3e;
}

.baseline .period {
    margin-bottom: 16px;
}