.number {
    display: flex;
    flex-direction: column;
    width: 216px;
    height: 240px;
    background-color: white;
    border-radius: 16px;
}

.number .name {
    margin-top: 16px;
}

.number * {
    background-color: white;
}

.number .value {
    font-weight: bold;
    font-size: 200%;
}

.number .growth {
    margin-top: auto;
    
}

.number .green {
    color: #50B93E;
}

.number .red {
    color: #b93e3e;
}

.number .period {
    margin-bottom: 16px;
}